.car-object {
  transform: translateX(0);
  flex-shrink: 0;
  width: max-content;
}

.car-object.animate {
  animation: myRace var(--race-duration, 2s) ease-in-out forwards;
}

@keyframes myRace {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100cqw - 100%));
  }
}
